body {
  0;
  background-color: black;
}

/* Styling for the name of creator*/
.by {
  font-size: 32px;
  color: white;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 4%;
  letter-spacing: 0.35px;
  top: 830px;
}

/* Styling for the stories content */
.line1 {
  font-size: 32px;
  color: red;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 69%;
  letter-spacing: 0.35px;
  top: 220px;
}

.line2 {
  font-size: 32px;
  color: white;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 70%;
  letter-spacing: 0.35px;
  top: 340px;
}

.line3 {
  font-size: 32px;
  color: red;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 69%;
  letter-spacing: 0.35px;
  top: 445px;
}

.line4 {
  font-size: 32px;
  color: white;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 77%;
  letter-spacing: 0.35px;
  top: 560px;
}

/* Styling for the begin button */
button {
  position: absolute;
  font-size: 40px;
  padding: 5px;
  left: 80%;
  top: 680px;
  color: white;
  background: red;
  height: 70px;
  width: 150px;
  border: white;
  cursor: pointer;
}

/* Styling for the circle on the background */
.circlebg {
  position: absolute;
  height: 550px;
  width: 550px;
  background-color: white;
  border-radius: 50%;
  left: 35%;
  top: 25%;
  -webkit-filter: blur(20px);
}

/* Styling for right boot */
.righttopboot {
  position: absolute;
  height: 50px;
  width: 180px;
  background-color: #493d26;
  top: 320px;
  left: 850px;
  z-index: 12;
  transform: rotate(-10deg);
  border: 1px solid black;
}

.rightmiddleboot {
  position: absolute;
  height: 190px;
  width: 135px;
  background-color: #653e1d;
  top: 350px;
  left: 890px;
  z-index: 11;
  transform: rotate(-10deg);
  border: 1px solid black;
}

.rightbottomboot {
  position: absolute;
  height: 187px;
  width: 90px;
  background-color: #653e1d;
  border-radius: 50%;
  top: 385px;
  left: 1045px;
  z-index: 12;
  transform: rotate(-100deg);
  }

/* Styling for left boot*/
.lefttopboot {
  position: absolute;
  height: 60px;
  width: 170px;
  background-color: #493d26;
  top: 410px;
  left: 720px;
  z-index: 15;
  transform: rotate(-10deg);
  border: 1px solid black;
}

.leftmiddleboot {
  position: absolute;
  height: 210px;
  width: 135px;
  background-color: #653e1d;
  top: 460px;
  left: 760px;
  z-index: 11;
  transform: rotate(-10deg);
  border: 1px solid black;
}

.leftbottomboot {
  position: absolute;
  height: 187px;
  width: 95px;
  background-color: #653e1d;
  border-radius: 50%;
  top: 510px;
  left: 900px;
  z-index: 12;
  transform: rotate(-100deg);
}

.rightboot:hover {
  /* Start the shake animation and make the animation last for 1.5 seconds */
  animation: shake 1.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.leftboot:hover {
  /* Start the shake animation and make the animation last for 1.5 seconds */
  animation: shake 1.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* Styling for the title */
.puss {
  font-size: 220px;
  color: red;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 5%;
  letter-spacing: 0.35px;
  top: -20px;
}

.in {
  font-size: 120px;
  color: red;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 14%;
  letter-spacing: 0.35px;
  top: 345px;
}

.boots {
  font-size: 220px;
  color: red;
  position: absolute;
  font-weight: bold;
  z-index: 9;
  left: 3%;
  letter-spacing: 0.35px;
  top: 340px;
}

/* SHAKE KEY FRAME */
/* For the boots */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(2deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-2deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(2deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-2deg); }
}
