/* Sets the margin to 0 so the page goes the edges */
body {
  margin: 0;
}

/* head for the cat */
.head {
  position: absolute;
  height: 110px;
  width: 120px;
  background-color: #909090;
  border-radius: 50%;
  top: 500px;
  left: 30%;
  z-index: 15;
  border: 1px solid black;
  border-bottom: none;
}

/* Styling for the back button */
button {
  position: absolute;
  z-index: 30;
  font-size: 62px;
  cursor: pointer;
  background: inherit;
  border: none;
  opacity: 50%;
  color: white;
  top: 40%;
}

/* TEXT */
.line1 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  left: 33%;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.35px;
  top: 180px;
}

.line2 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  font-family: 'Indie Flower', cursive;
  left: 34%;
  letter-spacing: 0.35px;
  top: 230px;
}

.line3 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  left: 35%;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.35px;
  top: 280px;
}

.line4 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  left: 36%;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.35px;
  top: 330px;
}

/* Styling for the signs post */
.stick {
  position: absolute;
  height: 90px;
  width: 0.7%;
  background-color: #eee8aa;
  top: 710px;
  left: 76%;
  z-index: 20;
  border: 1px solid black;
  border-top: none;
}

/* Styling for the sign */
.sign {
  position: absolute;
  height: 90px;
  width: 8%;
  background-color: #eee8aa;
  top: 630px;
  left: 72%;
  z-index: 20;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  color: red;
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

/* Allows the hat to spin on hover */
.bottomhat:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Styling for the bottom of the hat */
.bottomhat {
  position: absolute;
  height: 20px;
  width: 6.5%;
  background-color: #493d26;
  border-radius: 50%;
  top: 504px;
  left: 29.8%;
  z-index: 20;
  transform: rotate(-7deg);
}

/* Styling for the top of the hat */
.tophat {
  position: absolute;
  height: 60px;
  width: 65.4%;
  background-color: #653e1d;
  top: -50px;
  left: 15.7%;
  z-index: 20;
  transform: rotate(-1deg);
}

/* ears for the cat */
.outear1 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 45px solid #909090;
  top: 474px;
  left: 34%;
  z-index: 8;
  transform: rotate(25deg);
}

.outear2 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 45px solid #909090;
  top: -40px;
  left: 19%;
  z-index: 8;
  transform: rotate(-8deg);
}

.inear1 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 20px solid #a8a8a8;
  top: 18px;
  left: -7px;
  z-index: 8;
  transform: rotate(1deg);
}

.inear2 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 25px solid #a8a8a8;
  top: 20px;
  left: -8px;
  z-index: 8;
  transform: rotate(0deg);
}

/* eyes */
.eye1 {
  position: absolute;
  height: 27px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  top: 23px;
  left: 64%;
  z-index: 17;
  }

.eye2 {
  position: absolute;
  height: 27px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  top: 23px;
  left: 40%;
  z-index: 17;
   }

.pupil1 {
  position: absolute;
  height: 17px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
  top: 7px;
  left: 45%;
  z-index: 17;
}

.pupil2 {
  position: absolute;
  height: 17px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
  top: 7px;
  left: 45%;
  z-index: 17;
  }

/* Styling for cats nose */
.nose {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid black;
	position: absolute;
  top: 59px;
  left: 70px;
}

/* Styling for cats whiskers*/
.whisker1 {
  position: absolute;
  border-left: 2px solid black;
  height: 50px;
  /* rotates whisker */
  transform: rotate(110deg);
  z-index: 20;
  left: 34px;
  top: 25px;
}

.whisker2 {
  position: absolute;
  border-left: 2px solid black;
  height: 50px;
  /* Rotates whisker  */
  transform: rotate(90deg);
  z-index: 20;
  left: 34px;
  top: 33px;
}

.whisker3 {
  position: absolute;
  border-left: 2px solid black;
  height: 50px;
  transform: rotate(70deg);
  z-index: 20;
  left: 34px;
  top: 42px;
}

.whisker4 {
  position: absolute;
  border-left: 2px solid black;
  height: 40px;
  transform: rotate(110deg);
  z-index: 20;
  left: 110px;
  top: 50px;
}

.whisker5 {
  position: absolute;
  border-left: 2px solid black;
  height: 40px;
  transform: rotate(90deg);
  z-index: 20;
  left: 112px;
  top: 42px;
}

.whisker6 {
  position: absolute;
  border-left: 2px solid black;
  height: 40px;
  transform: rotate(70deg);
  z-index: 20;
  left: 111px;
  top: 34px;
}

/* Styling for cats mouth */
.mouth {
  content: "";
  position: absolute;
  top: 54px;
  left: 77px;
	width: 30px;
	height: 30px;
	border-radius: 90%;
	box-shadow: 2px 2px 0 0 black;
	-moz-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
}

.mouth:after {
	content: "";
	position: absolute;
	left: -24px;
	top: 18px;
	width: 30px;
	height: 30px;
	border-radius: 90%;
	box-shadow: 2px 2px 0 0 black;
	-moz-transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
}

/* Styling for cats body */
.outerbody {
  position: absolute;
  height: 190px;
  width: 6%;
  background-color: #909090;
  border-radius: 50%;
  top: 600px;
  left: 30%;
  z-index: 12;
  border: 1px solid black;
  border-top: none;
}

.innerbody {
  position: absolute;
  height: 120px;
  width: 4%;
  background-color: #a8a8a8;
  border-radius: 50%;
  top: 630px;
  left: 32%;
  z-index: 12;
}

/* arm at the back */
.rightarm {
  position: absolute;
  height: 130px;
  width: 2.2%;
  background-color: #909090;
  border-radius: 50%;
  top: 610px;
  left: 34.4%;
  z-index: 10;
  transform: rotate(-22deg);
  border: solid 1px black;
  border-top: none;
}

/* arm at the front */
.leftarm {
  position: absolute;
  height: 130px;
  width: 2.2%;
  background-color: #909090;
  border-radius: 50%;
  top: 614px;
  left: 30.6%;
  z-index: 12;
  transform: rotate(-2deg);
  border: solid 1px black;
  border-top: none;
}

.rightboot:hover {
  /* Start the shake animation and make the animation last for 1.5 seconds */
  animation: shake 1.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.leftboot:hover {
  /* Start the shake animation and make the animation last for 1.5 seconds */
  animation: shake 1.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* back leg */
.rightleg {
  position: absolute;
  height: 80px;
  width: 2.2%;
  background-color: #909090;
  border-radius: 50%;
  top: 750px;
  left: 33%;
  z-index: 10;
  transform: rotate(-2deg);
  border: solid 1px black;
  border-top: none;
}

/* Styling for right boot */
.righttopboot {
  position: absolute;
  height: 10px;
  width: 50px;
  background-color: #493d26;
  top: 60px;
  left: -4px;
  z-index: 12;
}

.rightmiddleboot {
  position: absolute;
  height: 30px;
  width: 35px;
  background-color: #653e1d;
  top: 68px;
  left: 3px;
  z-index: 11;
}

.rightbottomboot {
  position: absolute;
  height: 17px;
  width: 58px;
  background-color: #653e1d;
  border-radius: 50%;
  top: 82px;
  left: 22%;
  z-index: 12;
  }

/* front leg */
.leftleg {
  position: absolute;
  height: 80px;
  width: 2.2%;
  background-color: #909090;
  border-radius: 50%;
  top: 752px;
  left: 30.7%;
  z-index: 13;
  transform: rotate(-2deg);
  border: solid 1px black;
  border-top: none;
  border-right: none;
}

/* Styling for left boot */
.lefttopboot {
  position: absolute;
  height: 11px;
  width: 50px;
  background-color: #493d26;
  top: 58px;
  left: -9px;
  z-index: 16;
  transform: rotate(4deg);
}

.leftmiddleboot {
  position: absolute;
  height: 32px;
  width: 35px;
  background-color: #653e1d;
  top: 68px;
  left: -1px;
  z-index: 15;
  transform: rotate(4deg);
}

.leftbottomboot {
  position: absolute;
  height: 19px;
  width: 60px;
  background-color: #653e1d;
  border-radius: 50%;
  border-left: none;
  border-top: none;
  top: 83px;
  left: 3px;
  z-index: 15;
  transform: rotate(4deg);
  }

/* Styles the sky */
.sky {
  position: absolute;
  height: 780px;
  width: 100%;
  background-image: linear-gradient(#87ceeb, #ffe444);
  z-index: 8;
}

/* Styles the grass */
.grass {
  position: absolute;
  height: 110px;
  width: 100%;
  background-image: linear-gradient(#89c35c, #228b22);
  top: 700px;
  z-index: 8;
}

/* Styles the initial pavement background */
.path {
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: #f0f0f5;
  top: 800px;
}

/* Styles all the different tree trunks */
.trunk1 {
  position: absolute;
  height: 40px;
  width: 2%;
  -webkit-filter: blur(1px);
  background-color: #6f4e37;
  top: 670px;
  left: 13%;
  z-index: 10;
}

.trunk2 {
  position: absolute;
  height: 40px;
  width: 2.6%;
  background-color: #6f4e37;
  top: 695px;
  left: 7%;
  -webkit-filter: blur(1px);
  z-index: 10;
}

.trunk3 {
  position: absolute;
  height: 200px;
  width: 2.7%;
  background-color: #6f4e37;
  top: 550px;
  -webkit-filter: blur(1px);
  left: 88%;
  z-index: 10;
}

.trunk4 {
  position: absolute;
  height: 240px;
  width: 4%;
  background-color: #6f4e37;
  top: 510px;
  left: 22%;
  -webkit-filter: blur(1px);
  z-index: 10;
}

/* apples on the trees */
.body1 {
  position: absolute;
  height: 47px;
  width: 47px;
  background-color: red;
  border-radius: 50%;
  top: 233px;
  left: 24%;
  z-index: 17;
  -webkit-filter: blur(1px);
}

.leaf1 {
  position: absolute;
  height: 32px;
  width: 7px;
  background-color: lightgreen;
  border-radius: 50%;
  top: 220px;
  left: 25%;
  z-index: 17;
  -webkit-filter: blur(1px);
}

.body2 {
  position: absolute;
  height: 47px;
  width: 47px;
  background-color: red;
  border-radius: 50%;
  top: 363px;
  left: 26%;
  z-index: 17;
  -webkit-filter: blur(1px);
}

.leaf2 {
  position: absolute;
  height: 32px;
  width: 7px;
  background-color: lightgreen;
  border-radius: 50%;
  top: 345px;
  left: 26.4%;
  z-index: 17;
  -webkit-filter: blur(1px);
  transform: rotate(14deg);

}

.body3 {
  position: absolute;
  height: 47px;
  width: 47px;
  background-color: red;
  border-radius: 50%;
  top: 383px;
  left: 19%;
  z-index: 17;
  -webkit-filter: blur(1px);
}

.leaf3 {
  position: absolute;
  height: 32px;
  width: 7px;
  background-color: lightgreen;
  border-radius: 50%;
  top: 375px;
  left: 19.4%;
  z-index: 17;
  -webkit-filter: blur(1px);
  transform: rotate(-24deg);

}

/* for the small bush */
.bush {
  position: absolute;
  height: 70px;
  width: 22.5%;
  background-color: #006400;
  border-radius: 50%;
  top: 700px;
  left: 45.2%;
  z-index: 10;
}

.bush2 {
  position: absolute;
  height: 120px;
  width: 40.7%;
  background-color: #006400;
  border-radius: 50%;
  top: -60px;
  left: 55%;
  z-index:11;
}

.bush3 {
  position: absolute;
  height: 120px;
  width: 40.7%;
  background-color: #006400;
  border-radius: 50%;
  top: -60px;
  left: 7%;
  z-index: 10;
}

.bush4 {
  position: absolute;
  height: 130px;
  width: 40.9%;
  background-color: #006400;
  border-radius: 50%;
  top: -125px;
  left: 29%;
  z-index: 10;
}

/* for the big bush */
.bush5 {
  position: absolute;
  height: 70px;
  width: 25.5%;
  background-color: #578A47;
  border-radius: 50%;
  top: 680px;
  left: 28.2%;
  z-index: 8;
}

.bush6 {
  position: absolute;
  height: 120px;
  width: 10.7%;
  background-color: #578A47;
  border-radius: 50%;
  top: 580px;
  left: 42%;
  z-index: 8;
}

.bush7 {
  position: absolute;
  height: 120px;
  width: 10.7%;
  background-color: #578A47;
  border-radius: 50%;
  top: 600px;
  left: 30%;
  z-index: 8;
}

.bush8 {
  position: absolute;
  height: 190px;
  width: 12.7%;
  background-color: #578A47;
  border-radius: 50%;
  top: 510px;
  left: 35%;
  z-index: 8;
}

/* Branches for the trees */
.branch1 {
  position: absolute;
  height: 400px;
  width: 7.5%;
  background-color: #387c44;
  border-radius: 50%;
  top: 290px;
  -webkit-filter: blur(6px);
  left: 10.2%;
  z-index: 10;
}

.branch2 {
  position: absolute;
  height: 600px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  -webkit-filter: blur(3px);
  top: 110px;
  left: 3.4%;
  z-index: 10;
}

.branch3 {
  position: absolute;
  height: 400px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  -webkit-filter: blur(3px);
  top: 170px;
  left: 84.5%;
  z-index: 10;
}

.branch4 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  top: 200px;
  left: 87%;
  -webkit-filter: blur(3px);
  z-index: 10;
}

.branch5 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  top: 350px;
  left: 87%;
  -webkit-filter: blur(3px);
  z-index: 10;
}

.branch6 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  top: 350px;
  left: 81.5%;
  -webkit-filter: blur(3px);
  z-index: 10;
}

.branch7 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  top: 200px;
  -webkit-filter: blur(3px);
  left: 82%;
  z-index: 10;
}

.branch8 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  top: 290px;
  left: 80%;
  -webkit-filter: blur(3px);
  z-index: 10;
}

.branch9 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #4e9258;
  border-radius: 50%;
  top: 290px;
  left: 88.5%;
  z-index: 10;
  -webkit-filter: blur(3px);
}

.branch10 {
  position: absolute;
  height: 400px;
  width: 10%;
  background-color: #006400;
  border-radius: 50%;
  top: 130px;
  left: 18.8%;
  z-index: 10;
  -webkit-filter: blur(1px);
}

.branch11 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #006400;
  border-radius: 50%;
  top: 335px;
  left: 22%;
  -webkit-filter: blur(1px);
  z-index: 10;
}

.branch12 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #006400;
  border-radius: 50%;
  top: 150px;
  -webkit-filter: blur(1px);
  left: 22%;
  z-index: 10;
}

.branch13 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #006400;
  border-radius: 50%;
  top: 150px;
  -webkit-filter: blur(1px);
  left: 15%;
  z-index: 10;
}

.branch14 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #006400;
  border-radius: 50%;
  top: 335px;
  left: 16%;
  -webkit-filter: blur(1px);
  z-index: 10;
}

.branch15 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #006400;
  border-radius: 50%;
  top: 270px;
  left: 14%;
  -webkit-filter: blur(1px);
  z-index: 10;
}

.branch16 {
  position: absolute;
  height: 200px;
  width: 9.7%;
  background-color: #006400;
  border-radius: 50%;
  top: 270px;
  left: 24%;
  -webkit-filter: blur(1px);
  z-index: 10;
}

/* Flags for the top row of the pavement */
.flag1 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
}

.flag2 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 8%;
}

.flag3 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 16%;
}

.flag4 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 24%;
}

.flag5 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 32%;
}

.flag6 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 40%;
}

.flag7 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 48%;
}

.flag8 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 56%;
}

.flag9 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 64%;
}

.flag10 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 72%;
}

.flag11 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 80%;
}

.flag12 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 88%;
}

.flag13 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 800px;
  left: 96%;
}

/* Flags for the bottom half of the pavement */
.flag14 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 4%;
}

.flag15 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 12%;
}

.flag16 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 20%;
}

.flag17 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 28%;
}

.flag18 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 36%;
}

.flag19 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 44%;
}

.flag20 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 52%;
}

.flag21 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 60%;
}

.flag22 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 68%;
}

.flag23 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 76%;
}

.flag24 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 84%;
}

.flag25 {
  position: absolute;
  height: 50px;
  width: 4%;
  background-color: #d8e0e1;
  top: 850px;
  left: 92%;
}


/* Styles the clouds */
.cloudcontent {
  display: flex;
  padding:100px;
}

/* Styles the clouds */
.cloud {
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  -webkit-filter: blur(6px);
  z-index: 8;
  left:50px;
  animation: 100s cloudAnimation linear infinite;
  opacity:0.76;
}

.cloud:before {
  content:"";
  display: inline-block;
  background:white;
  width:100px;
  height:100px;
  -webkit-filter: blur(3px);
  position:relative;
  border-radius: 100%;
  top:-30px;
  left:60px;
}

.cloud:after {
  content:"";
  display:inline-block;
  background:white;
  width:200px;
  height:100px;
  -webkit-filter: blur(3px);
  position:relative;
  border-radius:50%;
  top:-80px;
  left: 100px;
}

/* zooms in to make one of the clouds bigger */
.cloud:first-child {zoom: 2;}

/* KEY FRAMES */
/* SHAKE KEY FRAME */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(2deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-2deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(2deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-2deg); }
}

/* Animates the cloud to go across the page */
@keyframes cloudAnimation {
  0%{
    transform: translate(-100px,0);
  }
  100% {
    transform: translate(1400px,0);
  }
}

/* SPIN KEY FRAME */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
