/* Sets the margin to 0 to eleminate white space around */
body {
  margin: 0;
}

/* Styling for the text on screen */
.line1 {
  font-size: 28.5px;
  color: white;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  left: 3%;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.35px;
  top: 320px;
}

.line2 {
  font-size: 28.5px;
  color: white;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  left: 4%;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.35px;
  top: 370px;
}

.line3 {
  font-size: 28.5px;
  color: white;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  font-family: 'Indie Flower', cursive;
  left: 5%;
  letter-spacing: 0.35px;
  top: 430px;
}

.line4 {
  font-size: 28.5px;
  color: white;
  position: absolute;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  z-index: 20;
  left: 6%;
  letter-spacing: 0.35px;
  top: 480px;
}

.line5 {
  font-size: 28.5px;
  color: white;
  position: absolute;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  z-index: 20;
  left: 7%;
  letter-spacing: 0.35px;
  top: 530px;
}

/* For the house */
.door {
    width: 200px;
    height: 300px;
    background: #93bdcd;
    position: absolute;
    transition: all 300ms ease;
    -webkit-transform: perspective(900) rotateY(0deg);
    transform-origin: 0% 0%;
    left: 115px;
    border: 3px solid black;
    border-bottom: none;
    top: 135px;
    z-index: 5;
}

/* Allows the door to open on hover  */
.door:hover {
     -webkit-transform: perspective(900) rotateY(-90deg);
}

/* Styling for Door handle */
.doorhandle {
  position: absolute;
  height: 24px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  top: 143px;
  left: 74%;
  z-index: 17;
  }

/* Styling for Door number */
.doornumber {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: black;
  top: 50px;
}

/* Styling for when the door is open */
.doorinside {
    width: 200px;
    height: 300px;
    background: grey;
    position: relative;
    left: 115px;
    top: 135px;
    z-index: 4;
}

/* Styling for windows */
.glass1 {
    width: 150px;
    height: 200px;
    background-image: linear-gradient(to bottom right, #000033, #4c8295, yellow);
    position: absolute;
    left: 7%;
    top: 80px;
    z-index: 8;
    border: 1px solid black;
}

.shelf1 {
  position: absolute;
  height: 10px;
  width: 110.5%;
  border: 2.5px solid black;
  background: black;
  left: -7%;
  top: 190px;
  z-index: 6;
}

.mid1 {
  position: absolute;
  height: 200px;
  width: 1%;
  background: black;
  left: 50%;
  top: 0px;
  z-index: 6;
}

.mid2 {
  position: absolute;
  height: 151px;
  width: 1%;
  background: black;
  left: 49%;
  top: 20px;
  z-index: 6;
  transform: rotate(90deg);
}

.glass2 {
    width: 150px;
    height: 200px;
    background-image: linear-gradient(to bottom left, #000033, #4c8295, yellow);
    position: absolute;
    left: 78%;
    top: 80px;
    z-index: 8;
    border: 1px solid black;
}

.shelf2 {
  position: absolute;
  height: 10px;
  width: 110.5%;
  border: 2.5px solid black;
  background: black;
  left: -7%;
  top: 190px;
  z-index: 6;
}

.mid3 {
  position: absolute;
  height: 200px;
  width: 1%;
  background: black;
  left: 50%;
  top: 0px;
  z-index: 6;
}

.mid4 {
  position: absolute;
  height: 151px;
  width: 1%;
  background: black;
  left: 49%;
  top: 20px;
  z-index: 6;
  transform: rotate(90deg);
}

.glass3 {
  position: absolute;
  height: 120px;
  width: 120px;
  background-image: linear-gradient(#000033, #4c8295, yellow);
  border-radius: 50%;
  top: 270px;
  left: 60%;
  z-index: 28;
  border: 1px solid black;
}

.mid5 {
  position: absolute;
  height: 120px;
  width: 1%;
  background: black;
  left: 49%;
  top: 0px;
  z-index: 6;
  transform: rotate(90deg);
}

.mid6 {
  position: absolute;
  height: 120px;
  width: 1%;
  background: black;
  left: 50%;
  top: 0px;
  z-index: 6;
}

/* Styling for main wall on the house */
.mainwall {
  position: absolute;
  height: 440px;
  width: 55%;
  background: #93bdcd;
  left: 36%;
  top: 400px;
  z-index: 3;
}

/* for the main roof */
.leftside {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid #799abb;
  z-index: 3;
  top: 250px;
  left: 36%;
}

/* for the main roof */
.rightside {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid #799abb;
  z-index: 3;
  top: 250px;
  left: 83.2%;
}

/*middle part for the main roof */
.middle {
  position: absolute;
  height: 150px;
  width: 47.3%;
  background: #799abb;
  top: 251px;
  left: 39.8%;
  z-index: 2;
}

/* gutters for the roof */
.gutter1 {
  position: absolute;
  height: 10px;
  width: 16.5%;
  border: 2.5px solid black;
  background: #467586;
  left: 35.9%;
  top: 390px;
  z-index: 6;
}

.gutter2 {
  position: absolute;
  height: 10px;
  width: 16.9%;
  border: 2.5px solid black;
  background: #467586;
  left: 74%;
  top: 390px;
  z-index: 6;
}

.gutter3 {
  position: absolute;
  height: 10px;
  width: 16.9%;
  border: 2.5px solid black;
  background: #467586;
  left: 60.3%;
  top: 280px;
  z-index: 7;
  transform:rotate(47deg);
}

.gutter4 {
  position: absolute;
  height: 10px;
  width: 16.9%;
  border: 2.5px solid black;
  background: #467586;
  left: 49.1%;
  top: 280px;
  z-index: 7;
  transform:rotate(-47deg);
}

/* Styles the steps leading up to door */
.step1 {
  position: absolute;
  height: 20px;
  width: 72%;
  background: #a0a0a0;
  top: 450px;
  left: 14%;
  z-index: 5;
}

.step2 {
  position: absolute;
  height: 15px;
  width: 65%;
  background: #b8b8b8;
  top: 435px;
  left: 18%;
  z-index: 5;
}

.midwall {
  position: absolute;
  height: 450px;
  width: 22%;
  background: #eee0e5;
  left: 52.2%;
  top: 390px;
  z-index: 4;
}

.roof {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 211px solid transparent;
	border-right: 211px solid transparent;
	border-bottom: 220px solid #eee0e5;
  z-index: 4;
  top: 170px;
  left: 52.2%;
}

/* Styles the sky */
.sky {
  position: absolute;
  height: 780px;
  width: 100%;
  background-image: linear-gradient(to bottom right,  #000033,  #000033, black, black, black);
  z-index: 2;
}

/* Styles the grass */
.grass {
  position: absolute;
  height: 140px;
  width: 100%;
  background-image: linear-gradient(#003300, #228b22);
  top: 750px;
  z-index: 2;
}

/* Styling for back button */
button {
  position: absolute;
  z-index: 30;
  font-size: 62px;
  cursor: pointer;
  background: inherit;
  border: none;
  opacity: 50%;
  color: white;
  top: 40%;
}

/* For the moon*/
.moon {
  display:inline-block;
  position: absolute;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  left: 3%;
  top: 30px;
  background:#f5f3ce;
  box-shadow: 0 0 40px #f5f3ce,
                0 0 70px #f5f3ce,
                0 0 300px #f5f3ce,
                inset 0 0 90px #f5f3ce;
  z-index: 4;
}

/* makes the moon glow more on hover */
.moon:hover {
  box-shadow: 0 0 180px white,
                0 0 200px white,
                0 0 500px yellow,
                inset 0 0 90px white;
}
