/* Sets the margin to 0 so the page goes the edges */
body {
  margin: 0;
}


/* Styles the lines for the text */
.line1 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  z-index: 20;
  left: 63%;
  letter-spacing: 0.35px;
  top: 80px;
}

.line2 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  font-family: 'Indie Flower', cursive;
  left: 65%;
  letter-spacing: 0.35px;
  top: 130px;
}

.line3 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  left: 67%;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.35px;
  top: 180px;
}

.line4 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  z-index: 20;
  left: 69%;
  letter-spacing: 0.35px;
  top: 230px;
}

.line5 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  z-index: 20;
  font-family: 'Indie Flower', cursive;
  left: 71%;
  letter-spacing: 0.35px;
  top: 280px;
}

.line6 {
  font-size: 28.5px;
  color: black;
  position: absolute;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  z-index: 20;
  left: 73%;
  letter-spacing: 0.35px;
  top: 330px;
}

/* Styling for back button */
button {
  position: absolute;
  z-index: 30;
  font-size: 62px;
  cursor: pointer;
  background: inherit;
  border: none;
  opacity: 50%;
  color: white;
  top: 40%;
}

/* Styles the ogre */
/* Styling for head */
.bottomhead {
  position: absolute;
  height: 70px;
  width: 140px;
  background-color: lightgreen;
  border-radius: 50%;
  top: 540px;
  left: 54%;
  z-index: 28;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}

.tophead {
  position: absolute;
  height: 40px;
  width: 100px;
  background-color: lightgreen;
  border-radius: 50%;
  top: 520px;
  left: 55%;
  z-index: 29;
  border: 1px solid black;
  border-bottom: none;
}

/* ogre ears */
.ogreear1 {
  position: absolute;
  height: 20px;
  width: 0.5%;
  background-color: lightgreen;
  border: 1px solid black;
  border-bottom: none;
  top: 505px;
  left: 56%;
  z-index: 29;
  transform: rotate(-10deg);
}

.toppart1 {
  position: absolute;
  border-bottom: 15px solid darkgreen;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0;
	width: 10px;
  transform: rotateX(180deg);
  top: -12px;
  left: -7px;
}

.ogreear2 {
  position: absolute;
  height: 20px;
  width: 0.5%;
  background-color: lightgreen;
  border: 1px solid black;
  border-bottom: none;
  top: 505px;
  left: 58.7%;
  z-index: 29;
  transform: rotate(10deg);
}

.toppart2 {
  position: absolute;
  border-bottom: 15px solid darkgreen;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0;
	width: 10px;
  transform: rotateX(170deg);
  top: -10px;
  left: -7px;
}

/* eyes */
.ogreeye1 {
  position: absolute;
  height: 27px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  top: 535px;
  left: 56%;
  z-index: 29;
  }

.ogrepupil1 {
  position: absolute;
  height: 17px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
  top: 7px;
  left: 15%;
  z-index: 17;
}


.ogreeye2 {
  position: absolute;
  height: 27px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  top: 535px;
  left: 58%;
  z-index: 29;
  }

.ogrepupil2 {
  position: absolute;
  height: 17px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
  top: 7px;
  left: 15%;
  z-index: 17;
}

/* for the nose */
.nostril1 {
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  top: 565px;
  left: 57.1%;
  z-index: 29;
}

.nostril2 {
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  top: 565px;
  left: 57.8%;
  z-index: 29;
}

/* Styling for the mouth */
.ogremouth {
  position: absolute;
  height: 60px;
  width: 3px;
  background: black;
  left: 57.5%;
  top: 560px;
  z-index: 28;
  transform: rotate(90deg);
}

.tooth1 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  top: 10px;
  left: -9px;
  transform: rotate(270deg);
  z-index: 29;
}

.tooth2 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  top: 40px;
  left: -9px;
  transform: rotate(270deg);
  z-index: 29;
}

/* Styling for the body */
.ogreoutbody {
  position: absolute;
  height: 190px;
  width: 9%;
  background-color: lightgreen;
  border-radius: 50%;
  top: 605px;
  left: 53.3%;
  z-index: 12;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}

.ogreinbody {
  position: absolute;
  height: 130px;
  width: 60%;
  background-color: #82c96c;
  border-radius: 50%;
  top: 30px;
  left: 15.5%;
  z-index: 12;
}

/* ogre legs */
.ogreleg1 {
  position: absolute;
  height: 90px;
  width: 3.2%;
  background-color: lightgreen;
  border-radius: 50%;
  top: 760px;
  left: 58.1%;
  z-index: 8;
  transform: rotate(-3deg);
  border: solid 1px black;
  border-top: none;
  border-bottom: none;
}

.foot1 {
  position: absolute;
  height: 75px;
  width: 52.2%;
  background-color: lightgreen;
  border-radius: 50%;
  top: 45px;
  left: 30.1%;
  z-index: 32;
  transform: rotate(-80deg);
  border: solid 1px black;
  border-bottom: none;
  border-right: none;
}

.foot2 {
  position: absolute;
  height: 75px;
  width: 52.2%;
  background-color: lightgreen;
  border-radius: 50%;
  top: 50px;
  left: 25.1%;
  z-index: 32;
  transform: rotate(80deg);
  border: solid 1px black;
  border-top: none;
  border-left: none;
}

/* ogre legs */
.ogreleg2 {
  position: absolute;
  height: 90px;
  width: 3.2%;
  background-color: lightgreen;
  border-radius: 50%;
  top: 760px;
  left: 53.8%;
  z-index: 18;
  transform: rotate(5deg);
  border: solid 1px black;
  border-top: none;
  border-bottom: none;
}

/* arms */
.ogrearm1 {
  position: absolute;
  height: 140px;
  width: 2.7%;
  background-color: lightgreen;
  border-radius: 50%;
  top: 610px;
  left: 60.1%;
  z-index: 28;
  transform: rotate(-22deg);
  border: solid 1px black;
  border-top: none;
}

.ogrearm2 {
  position: absolute;
  height: 140px;
  width: 2.9%;
  background-color: lightgreen;
  border-radius: 50%;
  top: 505px;
  left: 52.9%;
  z-index: 29;
  transform: rotate(-22deg);
  border: solid 1px black;
  border-bottom: none;
  transform-origin: bottom;
  animation: wave 30s;
}

/* For the house */
/* Styling for the door on the house */
.door {
  width: 200px;
  height: 300px;
  background: #d8bfd8;
  position: absolute;
  transition: all 300ms ease;
  -webkit-transform: perspective(900) rotateY(0deg);
  transform-origin: 0% 0%;
  left: 115px;
  border: 3px solid #cc4e5c;
  border-bottom: none;
  top: 135px;
  z-index: 5;
}

/* makes the door appear to be opening on hover */
.door:hover {
     -webkit-transform: perspective(900) rotateY(-90deg);
}

/* Styling for door handle */
.doorhandle {
  position: absolute;
  height: 24px;
  width: 20px;
  background-color: #cc4e5c;
  border-radius: 50%;
  top: 143px;
  left: 74%;
  z-index: 17;
  }

/* Styling for door number */
.doornumber {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #cc4e5c;
  top: 50px;
}

/* Styling for when door is open */
.doorinside {
    width: 200px;
    height: 300px;
    background: grey;
    position: relative;
    left: 115px;
    top: 135px;
    z-index: 4;
}

/* Styling for windows */
.glass1 {
    width: 150px;
    height: 200px;
    background: #799abb;
    position: absolute;
    left: 7%;
    top: 80px;
    z-index: 8;
    border: 1px solid black;
}

.shelf1 {
  position: absolute;
  height: 10px;
  width: 110.5%;
  border: 2.5px solid white;
  background: white;
  left: -7%;
  top: 190px;
  z-index: 6;
}

.mid1 {
  position: absolute;
  height: 200px;
  width: 1%;
  background: white;
  left: 50%;
  top: 0px;
  z-index: 6;
}

.mid2 {
  position: absolute;
  height: 151px;
  width: 1%;
  background: white;
  left: 49%;
  top: 20px;
  z-index: 6;
  transform: rotate(90deg);
}

.glass2 {
    width: 150px;
    height: 200px;
    background: #799abb;
    position: absolute;
    left: 78%;
    top: 80px;
    z-index: 8;
    border: 1px solid black;
}

.shelf2 {
  position: absolute;
  height: 10px;
  width: 110.5%;
  border: 2.5px solid white;
  background: white;
  left: -7%;
  top: 190px;
  z-index: 6;
}

.mid3 {
  position: absolute;
  height: 200px;
  width: 1%;
  background: white;
  left: 50%;
  top: 0px;
  z-index: 6;
}

.mid4 {
  position: absolute;
  height: 151px;
  width: 1%;
  background: white;
  left: 49%;
  top: 20px;
  z-index: 6;
  transform: rotate(90deg);
}

.glass3 {
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: #799abb;
  border-radius: 50%;
  top: 270px;
  left: 39%;
  z-index: 28;
  border: 1px solid black;
}

.mid5 {
  position: absolute;
  height: 120px;
  width: 1%;
  background: white;
  left: 49%;
  top: 0px;
  z-index: 6;
  transform: rotate(90deg);
}

.mid6 {
  position: absolute;
  height: 120px;
  width: 1%;
  background: white;
  left: 50%;
  top: 0px;
  z-index: 6;
}

/* Styling for main wall of house */
.mainwall {
  position: absolute;
  height: 440px;
  width: 55%;
  background: #d8bfd8;
  left: 15%;
  top: 400px;
  z-index: 3;
}

/* for the main roof */
.leftside {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid #cc4e5c;
  z-index: 3;
  top: 250px;
  left: 15%;
}

/* for the main roof */
.rightside {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid #cc4e5c;
  z-index: 3;
  top: 250px;
  left: 62.2%;
}

/*middle part for the main roof */
.middle {
  position: absolute;
  height: 150px;
  width: 47.3%;
  background: #cc4e5c;
  top: 251px;
  left: 18.8%;
  z-index: 2;
}

/* gutters for the roof */
.gutter1 {
  position: absolute;
  height: 10px;
  width: 16.5%;
  border: 2.5px solid #a5435c;
  background: #c82536;
  left: 14.6%;
  top: 390px;
  z-index: 6;
}

.gutter2 {
  position: absolute;
  height: 10px;
  width: 16.9%;
  border: 2.5px solid #a5435c;
  background: #c82536;
  left: 53.1%;
  top: 390px;
  z-index: 6;
}

.gutter3 {
  position: absolute;
  height: 10px;
  width: 16.9%;
  border: 2.5px solid #a5435c;
  background: #c82536;
  left: 39.1%;
  top: 280px;
  z-index: 7;
  transform:rotate(47deg);
}

.gutter4 {
  position: absolute;
  height: 10px;
  width: 16.9%;
  border: 2.5px solid #a5435c;
  background: #c82536;
  left: 27.9%;
  top: 280px;
  z-index: 7;
  transform:rotate(-47deg);
}

/* Styles the steps leading up to door */
.step1 {
  position: absolute;
  height: 20px;
  width: 72%;
  background: #a0a0a0;
  top: 450px;
  left: 14%;
  z-index: 5;
}

.step2 {
  position: absolute;
  height: 15px;
  width: 65%;
  background: #b8b8b8;
  top: 435px;
  left: 18%;
  z-index: 5;
}

.midwall {
  position: absolute;
  height: 450px;
  width: 22%;
  background: #eee0e5;
  left: 31.2%;
  top: 390px;
  z-index: 4;
}

.roof {
  position: absolute;
	width: 0;
	height: 0;
	border-left: 211px solid transparent;
	border-right: 211px solid transparent;
	border-bottom: 220px solid #eee0e5;
  z-index: 4;
  top: 170px;
  left: 31.2%;
}

/* for the small bushs in the foreground. */
.bush {
  position: absolute;
  height: 70px;
  width: 22.5%;
  background-color: #006400;
  border-radius: 50%;
  top: 810px;
  left: 0;
  z-index: 10;
}

.bush2 {
  position: absolute;
  height: 120px;
  width: 40.7%;
  background-color: #006400;
  border-radius: 50%;
  top: -60px;
  left: 55%;
  z-index:11;
}

.bush3 {
  position: absolute;
  height: 120px;
  width: 40.7%;
  background-color: #006400;
  border-radius: 50%;
  top: -60px;
  left: 7%;
  z-index: 10;
}

.bush4 {
  position: absolute;
  height: 130px;
  width: 40.9%;
  background-color: #006400;
  border-radius: 50%;
  top: -125px;
  left: 29%;
  z-index: 10;
}

.bush5 {
  position: absolute;
  height: 70px;
  width: 22.5%;
  background-color: #006400;
  border-radius: 50%;
  top: 810px;
  left: 63%;
  z-index: 10;
}

.bush6 {
  position: absolute;
  height: 120px;
  width: 40.7%;
  background-color: #006400;
  border-radius: 50%;
  top: -60px;
  left: 55%;
  z-index:11;
}

.bush7 {
  position: absolute;
  height: 120px;
  width: 40.7%;
  background-color: #006400;
  border-radius: 50%;
  top: -60px;
  left: 7%;
  z-index: 10;
}

.bush8 {
  position: absolute;
  height: 130px;
  width: 40.9%;
  background-color: #006400;
  border-radius: 50%;
  top: -125px;
  left: 29%;
  z-index: 10;
}

/* Styles the sky */
.sky {
  position: absolute;
  height: 780px;
  width: 100%;
  background-image: linear-gradient(to bottom right,  #e8e8e8,  #e8e8e8, #87ceeb, #87ceeb, #87ceeb);
  z-index: 2;
}

/* Styles the grass */
.grass {
  position: absolute;
  height: 140px;
  width: 100%;
  background-image: linear-gradient(#89c35c, #228b22);
  top: 750px;
  z-index: 2;
}

/* For the sun */
.sun {
  display:inline-block;
  position: absolute;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  left: 3%;
  top: 30px;
  background:orange;
  box-shadow: 0 0 40px orange,
                0 0 70px orange,
                0 0 300px yellow,
                inset 0 0 90px yellow;
  z-index: 4;
}

/* makes the sun glow more on hover */
.sun:hover {
  box-shadow: 0 0 80px orange,
                0 0 200px orange,
                0 0 500px yellow,
                inset 0 0 90px yellow;
}

/* head for the cat */
.head {
  position: absolute;
  height: 110px;
  width: 120px;
  background-color: #909090;
  border-radius: 50%;
  top: 520px;
  left: 2%;
  z-index: 15;
  border: 1px solid black;
  border-bottom: none;
}

/* Styling for cats hat */
.bottomhat {
  position: absolute;
  height: 20px;
  width: 120px;
  background-color: #493d26;
  border-radius: 50%;
  top: 520px;
  left: 2%;
  z-index: 20;
  transform: rotate(-7deg);
}

.tophat {
  position: absolute;
  height: 60px;
  width: 80px;
  background-color: #653e1d;
  top: -50px;
  left: 15.7%;
  z-index: 20;
  transform: rotate(-1deg);
}

/* ears for the cat */
.outear1 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 45px solid #909090;
  top: 493px;
  left: 6.1%;
  z-index: 8;
  transform: rotate(25deg);
}

.outear2 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 45px solid #909090;
  top: -40px;
  left: 49px;
  z-index: 8;
  transform: rotate(-8deg);
}

.inear1 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 20px solid #a8a8a8;
  top: 18px;
  left: -7px;
  z-index: 8;
  transform: rotate(1deg);
}

.inear2 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 25px solid #a8a8a8;
  top: 20px;
  left: -8px;
  z-index: 8;
  transform: rotate(0deg);
}

/* eyes */
.eye1 {
  position: absolute;
  height: 27px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  top: 23px;
  left: 64%;
  z-index: 17;
  }

.eye2 {
  position: absolute;
  height: 27px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  top: 23px;
  left: 40%;
  z-index: 17;
   }

.pupil1 {
  position: absolute;
  height: 17px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
  top: 7px;
  left: 45%;
  z-index: 17;
}

.pupil2 {
  position: absolute;
  height: 17px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
  top: 7px;
  left: 45%;
  z-index: 17;
  }

/* Styling for cats nose */
.nose {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid black;
	position: absolute;
  top: 59px;
  left: 70px;
}

/* Styling for cats whiskers */
.whisker1 {
  position: absolute;
  border-left: 2px solid black;
  height: 50px;
  transform: rotate(110deg);
  z-index: 20;
  left: 34px;
  top: 25px;
}

.whisker2 {
  position: absolute;
  border-left: 2px solid black;
  height: 50px;
  transform: rotate(90deg);
  z-index: 20;
  left: 34px;
  top: 33px;
}

.whisker3 {
  position: absolute;
  border-left: 2px solid black;
  height: 50px;
  transform: rotate(70deg);
  z-index: 20;
  left: 34px;
  top: 42px;
}

.whisker4 {
  position: absolute;
  border-left: 2px solid black;
  height: 40px;
  transform: rotate(110deg);
  z-index: 20;
  left: 110px;
  top: 50px;
}

.whisker5 {
  position: absolute;
  border-left: 2px solid black;
  height: 40px;
  transform: rotate(90deg);
  z-index: 20;
  left: 112px;
  top: 42px;
}

.whisker6 {
  position: absolute;
  border-left: 2px solid black;
  height: 40px;
  transform: rotate(70deg);
  z-index: 20;
  left: 111px;
  top: 34px;
}

/* Styling for cats mouth */
.mouth {
  content: "";
  position: absolute;
  top: 54px;
  left: 77px;
	width: 30px;
	height: 30px;
	border-radius: 90%;
	box-shadow: 2px 2px 0 0 black;
	-moz-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
}

.mouth:after {
	content: "";
	position: absolute;
	left: -24px;
	top: 18px;
	width: 30px;
	height: 30px;
	border-radius: 90%;
	box-shadow: 2px 2px 0 0 black;
	-moz-transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
}

/* Styling for cats body */
.outerbody {
  position: absolute;
  height: 190px;
  width: 120px;
  background-color: #909090;
  border-radius: 50%;
  top: 624px;
  left: 2%;
  z-index: 12;
  border: 1px solid black;
  border-top: none;
}

.innerbody {
  position: absolute;
  height: 120px;
  width: 80px;
  background-color: #a8a8a8;
  border-radius: 50%;
  top: 650px;
  left: 3.9%;
  z-index: 12;
}

/* arm at the back */
.rightarm {
  position: absolute;
  height: 130px;
  width: 50px;
  background-color: #909090;
  border-radius: 50%;
  top: 630px;
  left: 100px;
  z-index: 11;
  transform: rotate(-22deg);
  border: solid 1px black;
  border-top: none;
  transform-origin: top;
  animation: right 4s;
}

/* arm at the front */
.leftarm {
  position: absolute;
  height: 130px;
  width: 50px;
  background-color: #909090;
  border-radius: 50%;
  top: 634px;
  left: 40px;
  z-index: 12;
  transform: rotate(-2deg);
  border: solid 1px black;
  border-top: none;
  transform-origin: top;
  animation: left 4s;
}

/* back leg */
.rightleg {
  position: absolute;
  height: 80px;
  width: 50px;
  background-color: #909090;
  border-radius: 50%;
  top: 780px;
  left: 90px;
  z-index: 11;
  transform-origin: top;
  transform: rotate(-2deg);
  border: solid 1px black;
  border-top: none;
  animation: right 4s;
}

.righttopboot {
  position: absolute;
  height: 10px;
  width: 50px;
  background-color: #493d26;
  top: 60px;
  left: -4px;
  z-index: 12;
}

.rightmiddleboot {
  position: absolute;
  height: 30px;
  width: 35px;
  background-color: #653e1d;
  top: 68px;
  left: 6px;
  z-index: 11;
}

.rightbottomboot {
  position: absolute;
  height: 17px;
  width: 58px;
  background-color: #653e1d;
  border-radius: 50%;
  top: 82px;
  left: 20px;
  z-index: 12;
  }

/* front leg */
.leftleg {
  position: absolute;
  height: 80px;
  width: 45px;
  background-color: #909090;
  border-radius: 50%;
  top: 778px;
  left: 40px;
  z-index: 13;
  transform: rotate(-2deg);
  border: solid 1px black;
  border-top: none;
  transform-origin: top;
  border-right: none;
  animation: left 4s;
}


.lefttopboot {
  position: absolute;
  height: 11px;
  width: 50px;
  background-color: #493d26;
  top: 58px;
  left: -9px;
  z-index: 16;
  transform: rotate(4deg);
}

.leftmiddleboot {
  position: absolute;
  height: 32px;
  width: 35px;
  background-color: #653e1d;
  top: 68px;
  left: -1px;
  z-index: 15;
  transform: rotate(4deg);
}

.leftbottomboot {
  position: absolute;
  height: 19px;
  width: 60px;
  background-color: #653e1d;
  border-radius: 50%;
  border-left: none;
  border-top: none;
  top: 83px;
  left: 3px;
  z-index: 15;
  transform: rotate(4deg);
  }

/* Makes the hat shake on hover  */
.bottomhat:hover {
  /* Start the shake animation and make the animation last for 1.5 seconds */
  animation: shake 1.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* Styling for the paragraph tags */
p1 {
  font-size: 36px;
  text-align: center;
  color: white;
  padding: 3px;
}

  /* for the cats arms and legs to move as if they were walking */
@keyframes left {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(20deg); }
  20% { transform: rotate(0deg); }
  30% { transform: rotate(-20deg); }
  40% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-20deg); }
  80% { transform: rotate(0deg); }
  90% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
  }

@keyframes right {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-20deg); }
  20% { transform: rotate(0deg); }
  30% { transform: rotate(20deg); }
  40% { transform: rotate(0deg); }
  50% { transform: rotate(-20deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(20deg); }
  80% { transform: rotate(0deg); }
  90% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

/* key frame to make the ogre wave */
@keyframes wave {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(0deg); }
  15% { transform: rotate(-20deg); }
  20% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  30% { transform: rotate(0deg); }
  35% { transform: rotate(-20deg); }
  40% { transform: rotate(0deg); }
  45% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  55% { transform: rotate(-20deg); }
  60% { transform: rotate(0deg); }
  65% { transform: rotate(10deg); }
  70% { transform: rotate(0deg); }
  75% { transform: rotate(-20deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(10deg); }
  90% { transform: rotate(0deg); }
  95% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
  }

/* key frame to shake the hat */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-4deg); }
  20% { transform: translate(-3px, 0px) rotate(4deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(4deg); }
  50% { transform: translate(-1px, 2px) rotate(-4deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-4deg); }
  80% { transform: translate(-1px, -1px) rotate(4deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-4deg); }
}
